.accordion {
  background-color: #f6f6f6;
  margin: 0 0 1.5em 0;
  padding: 0;
}

.accordion ul {
  margin: 0;
  padding: 0;
}

.accordion li {
  border-bottom: 1px solid gainsboro;
  list-style: none;
  z-index: 20;
}

.accordion li > a {
  color: #333;
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
}

.accordion li:last-child {
  border: none;
}

.accordion li:focus,
.accordion li:hover {
  background-color: #fbfbfb;
}

.accordion div.content {
  max-height: 0px;
  overflow: hidden;
  margin-top: -1px;
  position: relative;
  z-index: 10;
  background: #fff;

  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.accordion .is-expanded > div.content {
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;

  max-height: 500px;
}

div.content p {
  padding: 20px;
}
